<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoH11t4orsAp39jwVA-hyGAJH_bLKO57s</string>
	<key>GCM_SENDER_ID</key>
	<string>16790138990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.jec.cm01xx.FirebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>messengertutorial-746d2</string>
	<key>STORAGE_BUCKET</key>
	<string>messengertutorial-746d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16790138990:ios:9c6827381024376f0f367f</string>
</dict>
</plist>